<div class="card mb-3">
    <div class="row g-0 row-cols-1 row-cols-md-2">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="..."
                style="width: 300; height: 300;">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Федосеев Андрей</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <a href="https://t.me/youveryaggressiveman" target="_blank" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i> youveryaggressiveman</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0 row-cols-1 row-cols-md-2">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="..."
                style="width: 300; height: 300;">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Сафронов Никита</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                    <a href="https://t.me/Loo4u3" target="_blank" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i> Loo4u3</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0 row-cols-1 row-cols-md-2">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="..."
                style="width: 300; height: 300;">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Косицкий Владимир</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                    <a href="https://t.me/awkitsune" target="_blank" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i> awkitsune</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0 row-cols-1 row-cols-md-2">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="..."
                style="width: 300; height: 300;">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Ситимов Магамет</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                    <a href="https://t.me/magamet_s" target="_blank" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i> magamet_s</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0 row-cols-1 row-cols-md-2">
        <div class="col-12 col-md-4">
            <img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="..."
                style="width: 300; height: 300;">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Грицков Вячеслав</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                    <a href="https://t.me/diewittol" target="_blank" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i> diewittol</a>
            </div>
        </div>
    </div>
</div>
