
<div class="card mb-3" style="background-color: #EBEFF0;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="ShArp01Logo.webp" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-3">SH ARP | 0.1</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="https://github.com/sh-arp-01-rinhack" target="_blank"
                    style="text-decoration: none; color: inherit;"><i class="bi bi-github"></i>
                    sh-arp-01-rinhack</a>
        </div>
      </div>
    </div>
  </div>




<div class="h2">Команда разработки</div>

<div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-5">
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/300" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body">
                <h5 class="card-title">Федосеев Андрей</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://t.me/youveryaggressiveman" target="_blank"
                    style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i>
                    youveryaggressiveman</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/300" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body">
                <h5 class="card-title">Грицков Вячеслав</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://t.me/diewittol" target="_blank" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> diewittol</a>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card">
            <img src="https://picsum.photos/300" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body">
                <h5 class="card-title">Ситимов Магамет</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://t.me/magamet_s" target="_blank" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> magamet_s</a>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card">
            <img src="https://picsum.photos/300" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body">
                <h5 class="card-title">Косицкий Владимир</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://t.me/awkitsune" target="_blank" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> awkitsune</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/300" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body">
                <h5 class="card-title">Сафронов Никита</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://t.me/Loo4u3" target="_blank" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> Loo4u3</a>
            </div>
        </div>
    </div>
</div>