
<div class="card mb-3" style="background-color: #EBEFF0;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="ShArp01Logo.webp" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-3">SH ARP | 0.1</h5>
          <p class="card-text">
            sh arp | I 0.1. это DREAM TEAM из MAYKOP. Которая существует второй хакатон. И данная команда самообучается как нейросеть на своих ошибках, вам всего лишь нужно о них сказать
          </p>
          <a href="https://github.com/sh-arp-01-rinhack" target="_blank"
                    style="text-decoration: none; color: inherit;"><i class="bi bi-github"></i>
                    sh-arp-01-rinhack</a>
        </div>
      </div>
    </div>
  </div>




<div class="h2">Команда разработки</div>

<div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-5">
    <div class="col">
        <div class="card h-100">
            <img src="Адрей.png" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Федосеев Андрей</h5>
                <p class="card-text">
                    <span class="fw-semibold">Роль в команде:</span> Backend
                    <span class="fw-semibold">Языки программирования:</span> Kotline
                </p>
                <a href="https://t.me/youveryaggressiveman" target="_blank"
                class="mt-auto" style="text-decoration: none; color: inherit;"><i class="bi bi-telegram"></i>
                    youveryaggressiveman</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="Слава.png" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Грицков Вячеслав</h5>
                <p class="card-text">
                    <span class="fw-semibold">Роль в команде:</span> Frontend
                    <span class="fw-semibold">Языки программирования:</span> JavaScript, HTML, CSS
                </p>
                <a href="https://t.me/diewittol" target="_blank" class="mt-auto" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> diewittol</a>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card h-100">
            <img src="Мага.png" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Ситимов Магамет</h5>
                <p class="card-text">
                    <span class="fw-semibold">Роль в команде:</span> Backend
                    <span class="fw-semibold">Языки программирования:</span> C#, Python, JavaScript
                </p>
                <a href="https://t.me/magamet_s" target="_blank" class="mt-auto" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> magamet_s</a>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card h-100">
            <img src="ВОВА.png" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Косицкий Владимир</h5>
                <p class="card-text">
                    <span class="fw-semibold">Роль в команде:</span> Frontend
                    <span class="fw-semibold">Языки программирования:</span> TypeScript, HTML, CSS, Angular
                </p>
                <a href="https://t.me/awkitsune" target="_blank" class="mt-auto" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> awkitsune</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="Никита.png" class="img-fluid rounded" alt="..." style="width: 300; height: 300;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Сафронов Никита</h5>
                <p class="card-text">
                    <span class="fw-semibold">Роль в команде:</span> Teamlead, Designer, Information Security
                </p>
                <a href="https://t.me/Loo4u3" target="_blank" class="mt-auto" style="text-decoration: none; color: inherit;"><i
                        class="bi bi-telegram"></i> Loo4u3</a>
            </div>
        </div>
    </div>
</div>